# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.metadata

# OS
.DS_Store
Thumbs.db

# Generated
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/local.properties
android/key.properties
android/app/.cxx/
android/app/release/
*.jks
*.keystore

# Coverage
coverage/

# Local secrets
.env
.env.local
